<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Users" providerName="System.Data.SqlClient" connectionString="Data Source=advworkscarl.database.windows.net,1433;Initial Catalog = User; User ID=dev; Password=5611S@ddle;Connect Timeout = 30; Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>